name: SonarQube Analysis

on:
  # pull_request:
  #   branches: [main, master]
  workflow_dispatch:
    inputs:
      subfolder:
        description: "Subfolder path to scan (e.g. container_security)"
        required: true
        type: string

jobs:
  scan_code:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      security-events: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@v6.0.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        with:
          args: >
            -Dsonar.projectKey=AutoTriage
            -Dsonar.sources=.
            -Dsonar.inclusions=${{ github.event.inputs.subfolder }}/**/*
            -Dsonar.scm.provider=git
